*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #205295;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0px;
}
img{
    margin-left: 5px;
}
marquee{
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
    color: #78cc0b;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
}
a{
     line-height: 1em;    
    padding:  24px 16px 24px 18px;
    display: inline-block;
    color: #f5feff;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover
{
	background-color: #6c91c4;
	color: #DEF5E5;
}
.parallax1{
    height: 898px;
    width: 100%;
    background-image: url(a1.jpeg); 
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
.parallax1 h1{
    position: relative;
    top: 91px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80px ;
    padding: 27px;
    color: rgb(165, 221, 11) ;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #3d3db8;
}
.parallax1 p{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100px;
    color: black;
    font-size: 20px;
}
.text-area{
    background-color: rgb(130, 203, 232, 0.5);
    text-overflow: inherit;
}
.parallax2{
    height: 898px;
    width: 100%;
     background-image: url(aa.webp); 
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
.parallax2 h1{
    position: relative;
    top: 91px;
    text-align: center;
    display: flex;
    justify-content: center;

    height: 100px ;
    padding: 20px;
    color: rgb(165, 221, 11) ;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #3d3db8;
}
.parallax2 p{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100px;
    color: black;
    font-size: 20px;
}
.parallax3{
    height: 898px;
    width: 100%;
     background-image: url(2.avif); 
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
.parallax3 h1{
    position: relative;
    top: 91px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80px ;
    padding: 27px;
    color: rgb(165, 221, 11) ;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #3d3db8;
}
.parallax3 p{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100px;
    color: black;
    font-size: 20px;
}


